@font-face {
  font-family: RoGSanSrfStd-Bd;
  src: url('/logo-bluearchive-colormode/fonts/RoGSans/RoGSanSrfStd-Bd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
