@font-face {
  font-family: 'RoGSanSrfStd-Bd';
  src: url('/logo-bluearchive-colormode/fonts/RoGSans/RoGSanSrfStd-Bd.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
