@font-face {
  font-family: 'GlowSansSC';
  src: url('/logo-bluearchive-colormode/fonts/GlowSans/GlowSansSC-Normal-Heavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
