@font-face {
  font-family: 'GlowSansSC';
  src: url('/logo-bluearchive-colormode/fonts/GlowSans/GlowSans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
